/* html{
    font-size: 16px;
} */
 body{
    margin: 0;
    
    /*Body tiene margen porque el navegador crea una hoja de estilos
    por defecto.*/
 }
.forma1{
    background-color: red;
    width: 100vw;
    height: 50vh;
    font-size: 2rem;
    color: white;    
}
.forma2{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
}